.body{
    margin: 0;
}
.main-content{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 720px;
    margin-left: calc(50% - 640px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.column{
    width: 263px;
    height: 500px;
    display:relative;

}
.image-container{
    position: relative;
}
.numbering{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 61px;
    margin: 0;
    border-radius: 50%;
    border: 5px solid black;
    background-color: white;
    position: absolute; 
    top:-33px;
    left:0;  
    font-size: 30px;
   
}
.icon{
    width: 230px;
    height: 230px;
    margin-top: 33px;
    margin-left: 33px;
    display: flex;  
    justify-content: center;
    align-items: center; 
}
.icon-rocket{
    background-color: #51c3cd;
}
.rocket{
    background-color: #51c3cd;
    width: 75%;
}
.icon-mind{
    background-color: #3a6ec1;
}
.mind{
    background-color: #3a6ec1;
    width:75%;
}
.icon-user{
    background-color: #f34d33;
}
.user{
    background-color: #f34d33;
    width:60%;
}
.icon-deploy{
        background-color: #919191;
    }
.deploy{
    background-color: #919191;
    width:60%;
}
.one{
    border-color: #51c3cd;
    color:#51c3cd
}
.two{
    border-color: #3a6ec1;
    color: #3a6ec1;
}
.three{
    border-color: #f34d33;
    color:#f34d33;
}   
.four{
    border-color: #919191;
    color: #919191;
} 
.title{
    color: #f34d33;
    margin-left: 33px;
    text-transform: uppercase;
    text-align: center;
}
.lorem{
    margin-left: 33px;
    font-weight: lighter;

}

